body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.container {
    margin: auto;
    width: 60%;
    padding: 10px;
	background-image: url("background.jpg");
}

h1 {
	font-size: 42px;
}

.container p {
	padding: 0px 45px 0px 45px;
}

header {
	border-bottom: 2px solid black;
}


header img {
	vertical-align: bottom;
	float: right;

}

header title {
    display: inline-block;
    *display: inline;
}

.contact ul {
	list-style-type: none;
	padding-left: 0;
	font-style: italic;
}

img {
	border: 1px solid black;
	border-radius: 15px;
}
