body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.container {
    margin: auto;
    width: 80%;
    padding: 10px;
	background-image: url("background.jpg");
}

h1 {
	font-size: 42px;
}

.title {
	border-bottom: 2px solid black;
}


.title .dl {
	
	float: right;

}

.title .titleheading{
    display: inline;
    
}

.contact ul {
	list-style-type: none;
	padding-left: 0;
	font-style: italic;
}

img {
	border: 1px solid black;
	border-radius: 15px;
}


